<div ng-controller="FeedCtrl">
    <div class="row">
        <label for="choose-channel">Канал</label>
        <select id="choose-channel"
                ng-model="myChannel"
                ng-options="channel.title for channel in channels"
                class="form-control">
            <option></option>
        </select>
    </div>
    <br/>

    <div class="row">
        <i>{{myChannel.datetime}}</i>
        <h4>{{myChannel.description}}</h4>
    </div>
    <br/>

    <div class="row" ng-repeat="item in myChannel.feed">
        <div class="well">
            <p class="text-right">{{item.datetime}}</p>
            <h3>{{item.title}}</h3>

            <p>{{item.description}}</p>
            <a href="{{item.link}}">See more</a>
        </div>
    </div>
</div>