<div ng-controller="FeedCtrl">
    <div class="row">
        <label for="choose-channel">Канал</label>
        <select id="choose-channel"
                ng-model="myChannel"
                ng-options="channel.title for channel in channels"
                class="form-control">
            <option></option>
        </select>
    </div>
    <br/>

    <div class="row">
        <i>{{myChannel.datetime}}</i>
        <h4>{{myChannel.description}}</h4>
        <a href="{{myChannel.link}}">Перейти на канал</a>
    </div>
    <br/>

    <div class="row well" ng-repeat="item in myChannel.feed">
        <div class="col-md-3">
            <img class="img-responsive img-rounded" ng-src="{{item.image}}">
        </div>
        <div class="col-md-9">
            <p class="text-right">{{item.datetime}}</p>

            <h3>{{item.title}}</h3>

            <p>{{item.description}}</p>
            <a href="{{item.link}}">Перейти на новость</a>
        </div>
    </div>
</div>