<div ng-controller="ManageCtrl">
    <div class="row">
        <div class="form-inline">
            <div class="form-group pad">
                <label for="choose-channel">Канал</label>
                <select id="choose-channel"
                        ng-model="currentChannel"
                        ng-change="selectChange(currentChannel)"
                        ng-options="channel.title for channel in channels"
                        class="form-control">
                    <option></option>
                </select>
            </div>

            <!--delete channel-->
            <div class="form-group pad">
                <a href ng-click="deleteChannel(currentChannel.id, currentChannel.channel_id)">Удалить канал <i
                        class="fa fa-trash"></i></a>
            </div>

            <!--add channel-->
            <div class="form-group pad">
                <a href ng-click="channel_hidden=''; newsflash_hidden='hide'">Добавить канал <i
                        class="fa fa-plus-circle"></i></a>
            </div>

            <!--add newsflash-->
            <div class="form-group pad">
                <a href ng-click="channel_hidden='hide'; newsflash_hidden=''">Добавить новость <i
                        class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <br/>

    <!--////////////////// ALERTS ////////////////////////////////////////// -->
    <div class="row {{alertClass}}">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <!--////////////////// ADD CHANNEL ////////////////////////////////////////// -->
    <div class="{{channel_hidden}}" ng-init="channel_hidden='hide'">
        <div class="row well">
            <a href ng-click="channel_hidden='hide'" class="close"><i class="fa fa-close"></i></a>
            <br/>

            <h3>Добавление канала</h3>

            <form role="form">
                <div class="form-group">
                    <label for="feed-title">Заголовок</label>
                    <input type="text" class="form-control" id="feed-title" required placeholder="Введите заголовок"
                           ng-model="channel.title">
                </div>
                <div class="form-group">
                    <label for="feed-link">Ссылка</label>
                    <input type="url" class="form-control" id="feed-link" required placeholder="Введите url"
                           ng-model="channel.link">
                </div>

                <div class="form-group">
                    <label for="feed-desc">Описание</label>
                    <textarea class="form-control" name="description" required id="feed-desc" cols="30" rows="10"
                              placeholder="Введите описание" ng-model="channel.description"></textarea>
                </div>

                <button type="submit" class="btn btn-default" ng-click="addChannel(channel)">Добавить</button>

            </form>
        </div>
    </div>

    <!--////////////////// ADD NEWSFLASH ////////////////////////////////////////// -->
    <div class="{{newsflash_hidden}}" ng-init="newsflash_hidden='hide'">
        <div class="row well">
            <a href ng-click="newsflash_hidden='hide'" class="close"><i class="fa fa-close"></i></a>
            <br/>

            <h3>Добавление новости</h3>

            <form role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="newsflash-title">Заголовок</label>
                    <input type="text" class="form-control" id="newsflash-title" required
                           placeholder="Введите заголовок"
                           ng-model="newsflash.title">
                </div>
                <div class="form-group">
                    <label for="newsflash-link">Ссылка</label>
                    <input type="url" class="form-control" id="newsflash-link" required placeholder="Введите url"
                           ng-model="newsflash.link">
                </div>

                <div class="form-group">
                    <label for="newsflash-desc">Описание</label>
                    <textarea class="form-control" name="newsflash-desc" required id="newsflash-desc" cols="30"
                              rows="10"
                              placeholder="Введите описание" ng-model="newsflash.description"></textarea>
                </div>

                <div class="form-group">
                    <label for="newsflash-img">Изображение</label>
                    <input id="newsflash-img" class="form-control" type="file"
                           ng-model="newsflash.image"
                           nv-file-select="" uploader="uploader"
                           onchange="angular.element(this).scope().fileNameChanged()"/><br/>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Имя</th>
                        <th ng-show="uploader.isHTML5">Размер</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

                        <td nowrap>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Удалить изображение
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-default btn-lg"
                                    ng-click="item.upload(); addNewsflash(currentChannel.id, currentChannel.channel_id, newsflash)">
                                Добавить новость
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--<button type="submit" class="btn btn-default"-->
                <!--ng-click="addNewsflash(currentChannel.id, currentChannel.channel_id, newsflash); item.upload()">Добавить-->
                <!--</button>-->

            </form>

            <br/>
        </div>
    </div>

    <div class="row">
        <i>{{currentChannel.datetime}}</i>
        <h4>{{currentChannel.description}}</h4>
        <a href="{{currentChannel.link}}">Перейти на канал</a>
    </div>
    <br/>

    <div class="row well" ng-repeat="item in currentChannel.feed">
        <a href ng-click="deleteNewsflash($index, currentChannel.id)" class="close"><i class="fa fa-close"></i></a>
        <br/>
        <br/>

        <div class="col-md-3">
            <img class="img-responsive img-rounded" ng-src="{{item.image}}">
        </div>
        <div class="col-md-9">
            <p class="text-right">{{item.datetime}}</p>

            <h3>{{item.title}}</h3>

            <p>{{item.description}}</p>
            <a href="{{item.link}}" target="_blank">Перейти на новость</a>
        </div>
    </div>
</div>