<div ng-controller="ManageCtrl">
    <div class="row">
        <div class="form-inline">
            <div class="form-group pad">
                <label for="choose-channel">Канал</label>
                <select id="choose-channel" ng-model="myChannel" class="form-control"
                        ng-options="channel.title for channel in channels">
                    <option></option>
                </select>
            </div>

            <div class="form-group pad">
                <a href ng-click="channelDelete(myChannel.id)">Удалить канал <i class="fa fa-trash"></i></a>
            </div>

            <div class="form-group pad">
                <a href ng-click="channel=''; newsflash='hide'">Добавить канал <i class="fa fa-plus-circle"></i></a>
            </div>

            <div class="form-group pad">
                <a href ng-click="newsflash=''; channel='hide'">Добавить новость <i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <br/>

    <!--////////////////// ADD CHANNEL ////////////////////////////////////////// -->
    <div class="row well" ng-class="channel" ng-init="channel='hide'">
        <a href ng-click="channel='hide'" class="close"><i class="fa fa-close"></i></a>
        <br/>

        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <label for="feed-title">Заголовок</label>
                    <input type="text" class="form-control" id="feed-title" required placeholder="Введите заголовок"
                           ng-model="channel.title">
                </div>
                <div class="form-group">
                    <label for="feed-link">Ссылка</label>
                    <input type="url" class="form-control" id="feed-link" required placeholder="Введите url"
                           ng-model="channel.link">
                </div>

                <div class="form-group">
                    <label for="feed-desc">Описание</label>
                    <textarea class="form-control" name="description" required id="feed-desc" cols="30" rows="10"
                              placeholder="Введите описание" ng-model="channel.description"></textarea>
                </div>

                <button type="submit" class="btn btn-default" ng-click="addChannel(channel)">Добавить</button>

            </form>
        </div>
        <div class="col-md-6">
            <form role="form">

                <div class="form-group">
                    <label for="feed-url">Ссылка на канал</label>
                    <input type="url" class="form-control" id="feed-url" required placeholder="Введите url">
                </div>
                <button type="submit" class="btn btn-default">Добавить</button>

            </form>
        </div>
        <br/>
    </div>

    <!--////////////////// ADD NEWSFLASH ////////////////////////////////////////// -->
    <div class="row well" ng-class="newsflash" ng-init="newsflash='hide'">
        <a href ng-click="newsflash='hide'" class="close"><i class="fa fa-close"></i></a>
        <br/>

        <form role="form">
            <div class="form-group">
                <label for="newsflash-title">Заголовок</label>
                <input type="text" class="form-control" id="newsflash-title" required placeholder="Введите заголовок"
                       ng-model="newsflash.title">
            </div>
            <div class="form-group">
                <label for="newsflash-link">Ссылка</label>
                <input type="url" class="form-control" id="newsflash-link" required placeholder="Введите url"
                       ng-model="newsflash.link">
            </div>

            <div class="form-group">
                <label for="newsflash-desc">Описание</label>
                <textarea class="form-control" name="newsflash-desc" required id="newsflash-desc" cols="30" rows="10"
                          placeholder="Введите описание" ng-model="newsflash.description"></textarea>
            </div>

            <button type="submit" class="btn btn-default" ng-click="addNewsflash(myChannel.id, newsflash)">Добавить
            </button>

        </form>

        <br/>
    </div>

    <div class="row" ng-repeat="item in myChannel.feed">

        <div class="well">
            <a href ng-click="newsflashDelete($index, myChannel.id)" class="close"><i class="fa fa-close"></i></a>
            <br/>

            <h2>{{item.title}}</h2>

            <p>{{item.description}}</p>
            <a href="{{item.link}}">See more</a>
        </div>
    </div>
</div>
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>