<div ng-controller="ManageCtrl">
    <div class="row">
        <div class="form-inline">
            <div class="form-group pad">
                <label for="choose-channel">Канал</label>
                <select id="choose-channel" ng-model="myChannel" class="form-control"
                        ng-options="channel.title for channel in channels">
                    <option></option>
                </select>
            </div>
            <div class="form-group pad">
                <a href ng-click="channel=''">Добавить новый <i class="fa fa-plus-circle"></i></a>
            </div>

            <div class="form-group pad">
                <a href ng-click="myChannel.splice($index, 1)">Удалить <i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
    <br/>

    <div class="row well" ng-class="channel">
        <a href ng-click="channel='add-channel'" class="close"><i class="fa fa-close"></i></a>
        <br/>

        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <label for="feed-title">Заголовок</label>
                    <input type="text" class="form-control" id="feed-title" required placeholder="Введите заголовок">
                </div>
                <div class="form-group">
                    <label for="feed-link">Ссылка</label>
                    <input type="url" class="form-control" id="feed-link" required placeholder="Введите url">
                </div>

                <div class="form-group">
                    <label for="feed-desc">Описание</label>
                    <textarea class="form-control" name="description" required id="feed-desc" cols="30" rows="10"
                              placeholder="Введите описание"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Добавить</button>

            </form>
        </div>
        <div class="col-md-6">
            <form role="form">

                <div class="form-group">
                    <label for="feed-url">Ссылка на канал</label>
                    <input type="url" class="form-control" id="feed-url" required placeholder="Введите url">
                </div>
                <button type="submit" class="btn btn-default">Добавить</button>

            </form>
        </div>
        <br/>
    </div>


    <div class="row" ng-repeat="item in myChannel.feed">
        <div class="well">
            <h2>{{item.title}}</h2>

            <p>{{item.description}}</p>
            <a href="{{item.link}}">See more</a>
        </div>
    </div>
</div>